:root {
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: #050607;
	font-family: 'Lato';
	font-weight: 800;
	font-size: 26px;
	line-height: calc(36px * 2);
	cursor: default;
	display: grid;
	grid-template-columns: [left-edge] auto [main] 800px auto [right-edge];
}
h2 {
	margin-top: 36px;
	font-weight: 300;
	animation: drop-in 500ms ease-out backwards;
}
@keyframes drop-in {
	0% {
		opacity: 0;
		transform: translateY(-15px);
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateY(0px);
	}
}

::selection {
	background: gold;
}
.main {
	grid-column: main;
	padding-top: 36px;
}
